h1 {
  cursor: move;
  border:0;
  background:#f8f9fa;
  color:#444;
}
.delete {
  border:0;
  background:transparent;
  color:darkred;
  font-weight: bolder;
  font-size:2rem;
  cursor: pointer;
}
i {
  cursor: pointer;
  color:darkgreen;
  font-weight: bolder;
  font-size:2rem;
}